.moroja-header
{
    display:inline-block;
    width:100%;
}

.moroja-header-left
{
    float:left;
    width:20%;
}

.moroja-header-right
{
    float:left;
    text-align:center;
    top:50%;
    width:60%;
    height:100%;
}