<village-directive></village-directive>
<div class="row text-center" id="village">
    <div class="row" id="description">
        <p ng-bind="village.description"/>

    </div>
    <button class="btn btn-danger" ng-click="resetStorage()">RESET</button>

    <div class="row" id="resources">
        <div class="col-sm-12 col-md-4 panel panel-default" id="gatherResources">
            <div class="panel-body">
                <div class="row" ng-repeat="resource in village.resources">
                    <button class="col-md-3 btn btn-default" ng-click="gatherResources(resource.resKey)" ng-bind="resource.name"></button>
                    <p class="col-md-9" ng-bind="resource.description"></p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-8 panel panel-default" id="resourceDisplay">
            <div class="panel-body">
                <div class="row" ng-repeat="resource in village.resources">
                    <label ng-bind="resource.name"> </label>
                    <span ng-bind="resource.amount"></span>
                </div>
            </div>

        </div>
    </div>

</div>